---
// src/pages/test.astro
import TestComponent from "../components/TestComponent";
---

<html>
  <body>

    <audio src="https://qehmdvzfazkuhyhxubtl.supabase.co/storage/v1/object/public/podcast-files/dddd/capitulo-50/audio.mp3" controls />

    <TestComponent client:only="react" />
  </body>
</html>
